In [19]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import xgboost as xgb
from xgboost import XGBClassifier
from sklearn.model_selection import train_test_split, GridSearchCV
from sklearn import metrics

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/titanic/train.csv
/kaggle/input/titanic/test.csv
/kaggle/input/titanic/gender_submission.csv

In [20]:
train_data = pd.read_csv("/kaggle/input/titanic/train.csv")
train_data.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [21]:
trainY = train_data.iloc[:,1]
trainX = pd.get_dummies(train_data[["Pclass", "Sex", "Age", "SibSp", "Parch"]])
age_mean = np.mean(trainX['Age'])
trainX['Age'] = trainX['Age'].fillna(age_mean)
trainX

     Pclass        Age  SibSp  Parch  Sex_female  Sex_male
0         3  22.000000      1      0       False      True
1         1  38.000000      1      0        True     False
2         3  26.000000      0      0        True     False
3         1  35.000000      1      0        True     False
4         3  35.000000      0      0       False      True
..      ...        ...    ...    ...         ...       ...
886       2  27.000000      0      0       False      True
887       1  19.000000      0      0        True     False
888       3  29.699118      1      2        True     False
889       1  26.000000      0      0       False      True
890       3  32.000000      0      0       False      True

[891 rows x 6 columns]

In [22]:
test_data = pd.read_csv("/kaggle/input/titanic/test.csv")
testX = pd.get_dummies(test_data[["Pclass", "Sex", "Age", "SibSp", "Parch"]])
testX['Age'] = testX['Age'].fillna(age_mean)
testX

     Pclass        Age  SibSp  Parch  Sex_female  Sex_male
0         3  34.500000      0      0       False      True
1         3  47.000000      1      0        True     False
2         2  62.000000      0      0       False      True
3         3  27.000000      0      0       False      True
4         3  22.000000      1      1        True     False
..      ...        ...    ...    ...         ...       ...
413       3  29.699118      0      0       False      True
414       1  39.000000      0      0        True     False
415       3  38.500000      0      0       False      True
416       3  29.699118      0      0       False      True
417       3  29.699118      1      1       False      True

[418 rows x 6 columns]

paramters of XGBoost: https://xgboost.readthedocs.io/en/stable/parameter.html#parameters-for-tree-booster

In [23]:
param_grid1 = {'n_estimators':[10,15,20,25,35]}
models = GridSearchCV(XGBClassifier(random_state=1),param_grid1).fit(trainX,trainY)
print(models.best_params_)
model1 = models.best_estimator_

{'n_estimators': 25}

In [24]:
param_grid2 = {'max_depth':[1,3,5,7,10,15]}
models = GridSearchCV(model1,param_grid2).fit(trainX,trainY)
print(models.best_params_)
model2 = models.best_estimator_

{'max_depth': 7}

In [25]:
param_grid3 = {'min_child_weight':[1,2,3,4,5]}
models = GridSearchCV(model2,param_grid3).fit(trainX,trainY)
print(models.best_params_)
model3 = models.best_estimator_

{'min_child_weight': 4}

In [26]:
param_grid4 = {'lambda':[0,0.01,0.1,0.5,1,2,3]}
models = GridSearchCV(model3,param_grid4).fit(trainX,trainY)
print(models.best_params_)
model4 = models.best_estimator_

{'lambda': 1}

In [27]:
param_grid5 = {'learning_rate':[0.03,0.05,0.1,0.3,0.5]}
models = GridSearchCV(model4,param_grid5).fit(trainX,trainY)
print(models.best_params_)
model5 = models.best_estimator_

{'learning_rate': 0.3}

In [28]:
print(model5)
print("Training score:")
print(metrics.accuracy_score(trainY, model5.predict(trainX)))

XGBClassifier(base_score=None, booster=None, callbacks=None,
              colsample_bylevel=None, colsample_bynode=None,
              colsample_bytree=None, device=None, early_stopping_rounds=None,
              enable_categorical=False, eval_metric=None, feature_types=None,
              gamma=None, grow_policy=None, importance_type=None,
              interaction_constraints=None, lambda=1, learning_rate=0.3,
              max_bin=None, max_cat_threshold=None, max_cat_to_onehot=None,
              max_delta_step=None, max_depth=7, max_leaves=None,
              min_child_weight=4, missing=nan, monotone_constraints=None,
              multi_strategy=None, n_estimators=25, n_jobs=None,
              num_parallel_tree=None, ...)
Training score:
0.8664421997755332

In [29]:
testY = model5.predict(testX)

output = pd.DataFrame({'PassengerId': test_data.PassengerId, 'Survived': testY})
output = output.astype('int')
output.to_csv('submission.csv', index=False)
print("Finish!")

Finish!